<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action = "/logmein" method = "Post">
        Username <input type = "text" name = "username">
        <br>
        Password<input type = "password" name = "password">
        <input type = "submit">
    </form>
    <br>
    <form action = "/register">
        <input type = "submit" value = "Register">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>